/* text styles */
body {
  font-family: "Lato", san-sans-serif;
font-weight: 500;
  background-color: black;
  font-size: 12px;
  text-align: center;

}

.container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: white;

}

.nav {
  height: 64px;
  background-color: #4a4a4a;
  /* margin-bottom: 20px; */
}

.logohorizontalmain {
  width: 135px;
}

.statusbar {
  width: 375px;
}

.fa-cog {
  color: transparent;
}

.arrow {
  width: 25px;
  float: left;
  margin-top: 9px;
  margin-left: 9px;
}

.button {
  border: 1px solid #F46036;
  font-family: Lato;
  font-weight: 700;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  width: 343px;
  height: 40px;
  background-color: #F46036;
  box-sizing: border-box;
  padding: 9px;
  margin-left: 16px;
}

/* unvisited link */
a:link {
  color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
    text-decoration: none;
}

/* selected link */
a:active {
  color: white;
    text-decoration: none;
}

footer.bottom {
  width: 375px;
  height: 49px;
  /* background-color: green; */
  background-color: rgb(250, 250, 250, .9);
  border-top: 1px solid rgb(74,74,74,.1);
  top: 618px;
  position: fixed;
}

.activity {
  width: 30px;
  margin-top: 10px;
  margin-left: 49px;
  float:left;
}

.exercise {
  width: 30px;
  margin-top: 10px;
}

.profile {
  width: 30px;
  margin-top: 10px;
  float:right;
  margin-right: 49px;
}

h1 {
  font-size: 17px;
  color: White;
  font-weight: 600;
  margin-top: 10px;
  padding-right: 35px;
}


section.slider {
  text-align: left;
  /* padding-left: 16px; */
  margin-top: 70px;
}

img.route {
  width: 32px;
}

p.slider {
  font-size: 15px;
  margin-left: 16px;
  margin-top: -25px;
}

img.slider {
  float: right;
  width: 51px;
  margin-top: -25px;
margin-right: 16px;
}

div.bar {
  padding: 11px 16px 11px 16px;
  width: 343px;
  height: 15px;
  background-color: #F7F7F7;
  margin-top: 25px;
  margin-bottom: 25px;
}

p.bar {
  font-size: 15px;
  text-align: left;
}

div.voice {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  padding-left: 16px;
  padding-right: 16px;
}

img.man {
  width: 50px;
  grid-column: 1/2;
  border-right: 1px solid #4a4a4a;
  padding-left: 60px;
  padding-right: 60px;
}

img.woman {
  width: 50px;
  grid-column: 2/3;
  padding-left: 60px;
  padding-right: 60px;
}

p.man {
  grid-column: 1/2;
  margin-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
}

p.woman {
  grid-column: 2/3;
  margin-top: 5px;
  padding-left: 60px;
  padding-right: 60px;
}
