/* text styles */
body {
  font-family: "Lato", san-sans-serif;
font-weight: 500;
  background-color: black;
  font-size: 20px;
  text-align: center;
  height: 100%;

}

.container {
  width: 375px;
  height: auto;
  margin: 0 auto;
  background-color: #ebebeb;
  padding-bottom: 10px;

}

.nav {
  height: 154px;
  background-color: #4a4a4a;
  margin-bottom: 20px;
}

.logohorizontalmain {
  width: 135px;
}

.statusbar {
  width: 375px;
}

.button {
  border: 1px solid #F46036;
  font-family: Lato;
  font-weight: 700;
  color: white;
  font-size: 16px;
  font-weight: 600px;
  width: 343px;
  height: 40px;
  background-color: #F46036;
  box-sizing: border-box;
  padding: 9px;
  margin-left: 16px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

footer.bottom {
  width: 375px;
  height: 49px;
  /* background-color: green; */
  background-color: rgb(250, 250, 250, .9);
  border-top: 1px solid rgb(74,74,74,.1);
  top: 618px;
  position: fixed;
}

img.activity {
  width: 30px;
  margin-top: 10px;
  margin-left: 49px;
  float:left;
}

.exercise {
  width: 30px;
  margin-top: 10px;
}

.profile {
  width: 30px;
  margin-top: 10px;
  float:right;
  margin-right: 49px;
}

.sara {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  box-shadow: 0px 0px 10px grey;
  margin-top: -90px;
  margin-bottom: 10px;
}

p.location {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;

}

p.left {
  font-size: 12px;
  font-weight: 600;
  float: left;
  margin-left: 16px;
}

p.right {
  font-size: 12px;
  font-weight: 300;
  float: right;
  margin-right: 16px;
}

.fa-location-arrow {
  margin-right: 10px;
}

.fa-cog {
  color: white;
  float: right;
  margin-right: 16px;
  margin-top: 9px;

}

.arrow {
  width: 25px;
  float: left;
  margin-top: 9px;
  margin-left: 9px;
}

section.goals {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: -30px;
}

h1 {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 10px;
}

p.label {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin-top: 0px;
}

input[type=text], select {
  opacity: .75;
    width: 343px;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    height: 53px;
    padding: 12px 20px;
    margin: 8px 0 20px;
    background-color: #ebebeb;
    /* display: inline-block; */
    border: 1px solid rgb(74,74,74,.5);
    box-sizing: border-box;
}

form.bottom {
  padding-bottom: 45px;
}
